
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="ExampleQuery" asp-action="GetString">
    <input type="text" name="first" />
    <button type="submit" value="Submit">Submit</button>
</form>